@model WebHS.Domain.Entities.Dieta
@{
    ViewData["Title"] = "Criar";
}

<div>
    <div>
        <h4><b>Usuario:</b> @Model.Usuario.Nome</h4>
    </div>
    <input hidden id="idusuario" value="@Model.Usuario.Id" />
    <center><h2>Itens da dieta</h2></center>
    <button type="button" id="btnadicionar" class="btn btn-warning" onclick="adicionar(this)"><i class="fas fa-plus"></i></button>
    @{
        if (Model.Alimentos != null)
        {
            <table id="tabela" class="table">
                <thead>
                    <tr>
                        <th scope="col" width="65%">Alimento</th>
                        <th scope="col" width="30%">Quantidade</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Alimentos)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.UnidadeMedida</td>
                            <td><button type="button" class="btn btn-warning" id="@item.Id" onclick="excluir(this)"><i class="fas fa-times"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="divAdd" hidden>
                <input id="nomeAlimento" placeholder="Digite..." />
                <input id="unidadeMedida" placeholder="Digite..." />
                <button type="button" class="btn btn-warning" onclick="Salvar()"><i class="fas fa-check"></i></button>
            </div>
        }
    }
</div>

<script>
    var verificacao = false;
    function excluir(obj) {
        var id = obj.id;
        $.ajax({
            type: 'GET',
            url: '/Dieta/Delete?alimentoid=' + id,
            dataType: 'text',
            success: function (data) {
                if (data == "Ok") {
                    window.location.href = "@Url.Action("Criar", "Dieta")";
                }
            }
        });
    }

    function adicionar() {
        if (!verificacao) {
            verificacao = true;
            $("#btnadicionar").hide();
            $("#btnAdd").css("");
        }
    }

    function Salvar() {
        var nome = $("#nomeAlimento").val();
        var unidade = $("#unidadeMedida").val();
        var usuario = $("#idusuario").val();
        $.ajax({
            type: 'GET',
            url: '/Dieta/Salvar?nome=' + nome + "&unidade=" + unidade + "&idusuario=" + usuario,
            dataType: 'text',
            success: function (data) {
                if (data == "Ok") {
                    window.location.href = "@Url.Action("Criar", "Dieta")";
                }
            }
        });
    }
</script>